@keyframes fadeInFromLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInFromRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-left {
    animation: 1s normal 0s 1 fadeInFromLeft;
}

.fade-in-right {
    animation: 1s normal 0s 1 fadeInFromRight;
}