section {
    min-height: 400px;
    margin: auto;
    border-bottom: 2px solid lightgray;
    padding: min(5em, 8%);
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

@media(max-width: 1000px) {
    section {
        grid-template-columns: 1fr;
    }
}

section:last-child {
    border-bottom: none;
}

section#main {
    background: url('../resources/images/conference-background.svg');
    background-size: cover;
    background-position: center top;
    min-height: 800px;
    margin-top: -50px;
    padding-top: 70px;
    display: grid;
}

section#main img {
    max-width: 100%;
}
