section {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-bottom: 2px solid var(--crimson-carrot);
    padding: 20px 10px 20px 10px;
}

section:last-child {
    border-bottom: none;
}

section#main {
    background: url('../resources/images/conference-background.svg');
    background-size: cover;
    background-position: center top;
    height: 800px;
    margin-top: -50px;
    padding-top: 70px;
}