section {
    min-height: 400px;
    margin: auto;
    border-bottom: 2px solid lightgray;
    padding: min(5em, 8%);
    grid-template-columns: 1fr;
    gap: 2rem;
    display: grid;
}

.section-header {
}

.section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

@media(max-width: 1000px) {
    section {
        grid-template-columns: 1fr;
    }

    .section-content {
        display: grid;
        grid-template-columns: 1fr;
    }
}

section:last-child {
    border-bottom: none;
}

section#main {
    background: url('../resources/images/conference-background.svg');
    background-size: cover;
    background-position: center top;
    min-height: 600px;
    margin-top: -50px;
    padding-top: 50px;
}

section#main img {
    max-width: 100%;
}
