section {
    min-height: 400px;
    margin: auto;
    border-bottom: 2px solid lightgray;
    padding: min(5em, 8%)
}

section:last-child {
    border-bottom: none;
}

section#main {
    background: url('../resources/images/conference-background.svg');
    background-size: cover;
    background-position: center top;
    height: 800px;
    margin-top: -50px;
    padding-top: 70px;
}