nav {
    /* background-color: white; */
    box-shadow: 3px 3px, 5px, rgba(0, 0, 0, 0.1);
    font-weight: 500;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#open-sidebar-button, #close-sidebar-button {
    z-index: 90;
    display: none;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
    font-size: 20px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: var(--darker-gray);
    display: flex;
    align-items: center;
    position: relative;
}

nav a::after {
    content: '';
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: 200ms;
    border-radius: 1px;
}


@media screen and (min-width: 1001px){
    nav a:hover:after {
        width: 100%;
        transition-duration: 150ms;
    }
}

div#overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0);
    inset: 0;
    z-index: 80;
    opacity: 0;
    pointer-events: none;
    transition: background 300ms ease-out, opacity 300ms ease-out;
}


@media screen and (max-width: 1000px) {
    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        border-left: 1px solid lightgray;
        background: var(--light-beige);
        backdrop-filter: blur(10px);
        transition: right 300ms ease-out;
    }

    nav li a:hover {
        background: var(--beige);
        transition-duration: 0.3s;
    }

    nav.show {
        right: 0;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
    }

    nav a, nav li {
        width: 100%;
    }

    #open-sidebar-button {
        display: block;
        position: fixed;
        right: 20px;
        top: 20px;
        background: none;
        border: none;
        cursor: pointer;
    }

    #close-sidebar-button {
        display: block;
        cursor: pointer;
    }

    #overlay.show {
        opacity: 1;
        pointer-events: auto;
        background: rgba(0, 0, 0, 0.5);
    }
}