body.loading {
    opacity: 0;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 50px;
}

body {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

h1 {
    font-size: 48px;
    margin-bottom: 1rem;
    color: var(--darker-gray);
}

h2 {
    font-size: 36px;
    margin-bottom: 16px;
}

h3 {
    font-size: 24px;
    margin-bottom: 0.25rem;
}

h2, h3, p {
    color: var(--dark-gray);
}

p {
    font-size: 1.5em;
    margin-top: 0.5em;
}