body.loading {
    opacity: 0;
    overflow: hidden;
}

body {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

h1 {
    font-size: 48px;
    margin-bottom: 1rem;
    color: var(--darker-gray);
}

h2 {
    font-size: 32px;
    margin-bottom: 0.5rem;
}

h2, h3 {
    color: var(--dark-gray);
}