@import url('variables.css');
@import url('layout.css');
@import url('animations.css');
@import url('override.css');
@import url('navigation.css');
@import url('content.css');

body {
    background-color: var(--light-beige);
}

.mobile-icon {
    display: none;
}

html {
    scroll-behavior: smooth;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .mobile-icon {
        display: block;
    }
}