:root {
    --crimson-carrot: #f6511dff;
    --deep-space-blue: #003049ff;
    --grey: #738290ff;
    --dark-gray: #383e46;
    --darker-gray: hsl(209, 12%, 15%);
    --beige: #eef4d4ff;
    --light-beige: #f8fbed;
    --porcelain: #fdfffcff;

}