:root {
    --crimson-carrot: #f6511dff;
    --deep-space-blue: #003049ff;
    --grey: #738290ff;
    --dark-gray: #383e46;
    --darker-gray: hsl(209, 12%, 15%);
    --beige: #eef4d4ff;
    --light-beige: #f8fbed;
    --porcelain: #fdfffcff;

    font-size: 16px;

}

@media screen and (max-width: 1000px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    :root {
        font-size: 13px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 12px;
    }
}